.Users {
  ul {
    list-style-type: none;
    display: flex;
    li {
      min-width: 200px;
      margin: 0 20px;
    }
    li.delete-class {
      cursor: pointer;
      &:hover {
        background-color: blueviolet;
        color: white;
      }
    }
  }
}