.FormCreateTask {
  margin: 10px 0;
  display: flex;
  > div {
    margin: 0 auto;
    display: flex;
  }

  button {
    margin: 0 20px;
    width: 150px;
    font-family: "Open Sans";
    font-size: 14px;
  }
  p.target-sign {
    position: absolute;
    font-size: small;
    top: -18px;
    margin: 0;
  }
  .basic-single {
    width: 300px;
  }

}