.FormCreateTask {
  margin: 50px;
  position: absolute;
  top: 20px;
  left: 400px;
  display: flex;

   & > div:first-child {
    width: 300px;
  }
  button {
    margin: 0 20px;
    width: 150px;
    height: 38px;
    font-family: "Open Sans";
    font-size: 14px;
  }

}