html {
  //scroll-behavior: smooth;
}

#wrapper {
  padding: 20px 20px 0 20px;
  font-family: "Open Sans";
  font-size: 16px;
}

.loading {
  position: fixed;
  top: 90px;
  z-index: 2;
  background-color: darkred;
  color: white;
  padding: 0 5px;
}

.loaded {
  position: fixed;
  top: 90px;
  z-index: 2;
  background-color: aquamarine;
  color: black;
  padding: 0 5px;
}

.Home, .SingleUserTasks {

  table {
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
    overflow: auto;
    display: block;
    height: 100%;

    thead {
      tr {
        td {
          position: sticky;
          top: 0;
          background-color: white;
        }
      }

      tr.months {
        height: 26px;

        td {
          top: 0;
        }
      }

      tr.weeks {
        height: 26px;

        td {
          top: 26px;
        }
      }

      tr.days {

        td {
          top: 52px;
        }
      }
    }

    tbody {

    }

    tbody, thead {
      text-align: center;
    }


    tbody {
      tr {
        max-height: 50px;
      }
    }

    td {
      border: 1px solid rgba(0, 0, 0, 0.2);
      min-width: 30px;
      width: auto;
      height: 50px;
      max-height: 50px;
      box-sizing: border-box;
    }

    tr.months, tr.weeks {
      td {
        height: 10px;
      }
    }

    td.names-title {
      min-width: 200px;
      height: 102px !important;
      max-height: 102px;
      background-color: white;
      z-index: 5;
      position: fixed !important;
      left: 28px !important;
      top: 128px !important;
      line-height: 100px;
    }

    td.names {
      min-width: 200px;
      padding-left: 20px;
      text-align: left;
      background-color: white;
      line-height: 50px;

      a {
        color: black;

        &:hover {
          color: white;
          background-color: blueviolet;
        }
      }
    }

    td.hidden {
      border: none;
    }

    td.fixed {
      position: absolute;
      left: 20px;
    }

    td.active-schedule {
      background-color: aquamarine;
      font-size: 12px;
      line-height: 14px;
    }

    td.empty-cell {
      min-width: 200px !important;
    }

    td {
      span.delete-schedule {
        padding: 0 5px;
        cursor: pointer;
        color: darkred;
        font-weight: 600;

        &:hover {
          background-color: blueviolet;
          color: white;
        }
      }
    }

    td.today {
      background-color: blueviolet !important;
      color: white;
    }

    td.weekend {
      background-color: antiquewhite;
    }
    td.over-class {
      background-color: blueviolet;
    }
    td.no-drop {
      background-color: darkred;
    }


    td.active {
      background-color: blueviolet;
    }
    td {
      overflow: hidden;
      div {
        max-height: 46px;
      }
    }
  }
}

.Home, .SingleUserTasks {
  height: calc(100vh - 140px);
}

.SingleUserTasks {
  td {
    height: 20px !important;
  }
  td.months {
    div {
      height: auto;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
}