html {
  //scroll-behavior: smooth;
}

#wrapper {
  padding: 20px 20px 0 20px;
}

.loading {
  position: fixed;
  top: 90px;
  z-index: 2;
  background-color: darkred;
  color: white;
  padding: 0 5px;
}

.loaded {
  position: fixed;
  top: 90px;
  z-index: 2;
  background-color: aquamarine;
  color: black;
  padding: 0 5px;
}

.Home, .SingleUserTasks {
  table {
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
    overflow: auto;
    display: block;
    height: 100%;

    thead {
      tr {
        td {
          position: sticky;
          top: 0;
          background-color: white;
        }
      }
      tr.months {
        td {
          top: 0;
        }
      }
      tr.weeks {
        td {
          top: 26px;
        }
      }
      tr.days {
        td {
          top: 52px;
        }
      }
    }
    tbody {

    }

    tbody, thead {
      text-align: center;
    }


    td {
      border: 1px solid rgba(0, 0, 0, 0.2);
      min-width: 30px;
      height: 50px;
      box-sizing: border-box;
    }

    tr.months, tr.weeks {
      td {
        height: 10px;
      }
    }

    td.names-title {
      min-width: 200px;
      height: 102px !important;
      background-color: white;
      z-index: 5;
      position: fixed!important;

      left: 28px!important;
      top: 128px !important;
    }

    td.names {
      min-width: 200px;
      padding-left: 20px;
      text-align: left;
      background-color: white;
    }

    td.hidden {
      border: none;
    }

    td.fixed {
      position: absolute;
      left: 20px;
    }

    td.active {
      background-color: blueviolet;
    }

    td.active-schedule {
      background-color: aquamarine;
    }

    td {
      span.delete-schedule {
        padding: 0 5px;
        cursor: pointer;
        color: darkred;
        font-weight: 600;

        &:hover {
          background-color: blueviolet;
          color: white;
        }
      }
    }

    td.today {
      background-color: blueviolet!important;
      color: white;
    }

    td.weekend {
      background-color: antiquewhite;
    }
  }
}

.Home, .SingleUserTasks {
  height: calc(100vh - 140px);
}

.SingleUserTasks {
  td {
    height: 20px!important;
  }
}